body {
    background-image: url(../img/background.jpg);
    background-repeat: repeat-x;
    background-color: #0c739f;
    font-family: Tahoma;
    height: 100vh;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

.wrapper {
    position: relative;
    width: 999px;
    height: 810px;
    margin: 0 auto;
    background-color: white;
    border-bottom: 3px solid black;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.header {
    background-color: #fff;
    height: 174px;
    padding: 0px 0px 0px 28px;
}

.logo {
    margin-top: 11px;
    float: left;
}

.contacts {
    float: right;
    opacity: 0.8;
    color: #128aa7;
    font-family: Tahoma;
    font-size: 12px;
    margin: 10px 32px 0px 0px;
}

.our-contacts {
    margin-bottom: 10px;
}

.contacts_numbers {
    margin-top: 8px;
}

.flags {
    position: absolute;
    top: 110px;
    right: 35px;
    float: right;
    color: #128aa7;
    font-family: Tahoma;
    font-size: 10px;
    text-align: center;
}

.flags li {
    margin-left: 15px;
    display: inline-block;
}

.photo {
    margin-bottom: -4px;
}

.island {
    border-bottom: 1px solid #138aa7;
}

.sidebar {
  position: relative;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.8);
    z-index: 999;
    display: inline-block;
    width: 100%;
    /*height: 28px;*/
  /*  line-height: 10px;*/
    ;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;

}

.menu {
  /*line-height: 10px;*/
    /*height: 50px;*/
}

ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

ul.menu>li {
    float: left;
    position: relative;
    color: white;
    font-family: Tahoma;
    font-size: 14px;
    width: 14.28%;
    /*line-height: 10px;*/
    border-top: 1px solid #cacbcb;
    border-bottom: 1px solid #000000;
}

ul.menu>li>a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #333333;
    text-decoration: none;
    text-align: center;
}

ul.menu>li>a:hover {
    background-color: black;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 150px;
    top: 37px;
    left: 0;
    /*background-color: white;
    border: 1px solid red;*/
}

ul.submenu>li {
    display: block;
}

ul.submenu>li>a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #333333;
    text-decoration: none;
}

ul.submenu>li>a:hover {
    text-decoration: underline;
}

ul.menu>li:hover>ul.submenu {
    display: block;
}

.content {
    height: inherit;
}

.information {
    float: left;
    background-color: #edeef0;
    width: 209px;
    height: 45.5%;
    border-right: 1px solid #c7cacf;
    z-index: 1;
    margin-top: -3px;
    color: #424c43;
    /*  padding: 12px 10px 10px 10px;
  margin: 10px 10px 10px 10px;*/
}

.top_information {
    padding-top: 12px;
    text-align: center;
    color: #424c43;
    font-family: Tahoma;
    font-size: 18px;
    font-weight: 400;
    text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);
}

.information_description {
    padding-top: 10px;
    padding-left: 13px;
    font-size: 14px;
    line-height: 1.5;
}

.news {
    margin-top: -3px;
    float: right;
    width: 209px;
    height: 45.5%;
    background-color: #edeef0;
    z-index: 1;
    color: #424c43;
}

.copyright {
    text-align: center;
    color: #ffffff;
    margin-top: 5px;
    font-size: 12px;
}
