$font1: 'League Gothic'

@font-face
  font-family: $font1
  src: url(../fonts/LeagueGothic-Regular.otf)

// .wrapper
//   width: 100%
//   height: 2300px

.clearfix:after
  content: ""
  display: table
  clear: both

.header
  // position: relative
  width: 100%
  height: 795px
  background-image: url(../img/bg.jpg)
  background-color: #70528b
  background-repeat: no-repeat
  background-position: top center
  padding-top: 51px

.head
  width: 975px
  margin: auto
.logo
  float: left
  margin-left: 3px

  &__img
    // position: absolute
    // left: 24.7%

.navigation
  margin-top: 18px
  margin-right: -37px
  float: right
  &__ul
    list-style: none
  &__li
    float: left
    text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4)
    font-family: $font1
    font-size: 24px
    line-height: 34px
    text-transform: uppercase
    margin-right: 51.4px
    & a
      text-decoration: none
      color: white
      &:hover
        border-bottom: 2px solid #edbfff

.sliders
  clear: both
  // width: 2400px
  width: 100%
  height: 400px
  background-color: rgba(black, 0.2)
  margin: auto
  margin-top: 227px
  &__div
    width: 960px
    margin: auto
  &__text
    margin-top: 89px
    margin-left: -1.5px
    width: 519px
    float: left

  &__lorem
    color: #fefefe
    font-family: $font1
    font-size: 60px
    line-height: 36px
  &__it-will
    color: #edbfff
    font-family: $font1
    font-size: 32px
    line-height: 44px
  &__semper
    color: white
    font-family: "Open Sans"
    font-size: 18px
    font-weight: 300
    line-height: 25px
  &__iphone
    position: relative
    width: 274px
    height: 434px
    background-image: url(../img/iphone.png)
    float: right
    margin: -17px 72px 0px 0px
  &__play
    position: absolute
    top: 149px
    left: 137px

.circles
  width: 960px
  margin: auto
  &__ul
    margin: 93px 0px 0px 709px
    list-style: none
  &__li
    float: left
    margin-right: 5px
  &__a
    &:hover
      background-image: url(../img/circle_hover.png)
      background-position-x: -1.1px
      background-position-y: -4px
  &__img

.blurbs
  display: block
  width: 100%
  margin: auto
  height: 344px
  background-image: url(../img/blurbs.jpg)
  &__info
    width: 970px
    margin: auto
    padding-top: 80px
  &__sprite
    // clear: both
    display: block
    width: 27px
    height: 194px
    background-image: url(../img/sprite.png)
    background-repeat: no-repeat
    float: left
    margin-right: 26px
    margin-top: 5px
    // background-position: -2px -2px
    &--settings
      background-position: -62px -2px
    &--quote
      background-position: -30px -2px
    &--music
      background-position: -2px -2px
  &__left
    float: left
    width: 279px
    height: 113px
    margin-left: 15px
    margin-right: 59px
  &__center
    float: left
    width: 280px
    height: 113px
    margin-right: 57px
  &__right
    float: left
    width: 279px
    height: 113px
  &__about
    display: block
    // float: right
    width: 232px
    height: 26px
    text-shadow: 0.5px 0.9px 0 rgb(15, 21, 24)
    color: white
    font-family: $font1
    font-size: 30px
    font-weight: 400
    line-height: 24px
    margin-bottom: 9px
  &__description
    clear: both
    width: 294px
    height: 113px
    text-shadow: 0.5px 0.9px 0 rgb(15, 21, 24)
    color: white
    font-family: "Open Sans"
    font-size: 16px
    font-weight: 300
    line-height: 24px
    // float: right
  &__read
    // clear: both
    float: right
    width: 58px
    height: 14px
    text-shadow: 0.5px 0.9px 0 rgb(15, 21, 24)
    font-family: $font1
    font-size: 18px
    font-weight: 400
    line-height: 18px
    margin-top: 20px
    margin-right: 9px
  &__a
    color: white
    text-decoration: none
    &:hover
      color: white
      text-shadow: 0 0 8px rgba(255, 255, 255, 0.8)

.news
  width: 100%
  margin: auto
  padding-top: 98px
  background-color: #f9f9f9

  &__foto
    position: absolute
    top: 18px
    left: -2px

  &__body
    position: relative
    width: 960px
    margin: auto

  &__pingbuller
    background-image: url(../img/quote.png)
    background-repeat: no-repeat
    // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05)
    float: left
    width: 40%
    height: 292px
    padding: 32px 0 0 40px
    margin-left: 21px
    // width: 207px
    &__text
      height: 22px
      text-shadow: 0.5px 0.9px 0 white
      font-family: $font1
      font-size: 30px
      line-height: 24px
      &--black
        color: rgb(69, 69, 69)
      &--purple
        color: rgb(237, 191, 255)
      &--simple
        float: left
        width: 359px
        height: 161px
        text-shadow: 0.5px 0.9px 0 white
        color: rgb(69, 69, 69)
        font-family: "Open Sans"
        font-size: 16px
        font-weight: 300
        line-height: 24px
        margin-top: 10px



  &__updates
    position: relative
    float: right
    width: 47.1%
    margin-top: 32px
  &__logos
    clear: both
    width: 960px
    margin: auto
    height: 1000px
    border-top: 1px solid black
    border-bottom: 1px solid black
  &__logo1
    margin-right: 50px
    float: left
  &__logo2
    margin-right: 50px
    float: left
  &__logo3
    margin-right: 50px
    float: left
  &__logo4
    margin-right: 50px
    float: left
  &__logo5
    margin-right: 50px
    float: left
  &__logo6
    float: left
  // &__logos-ul
  //   clear: both
  //   list-style: none
  //   width: 960px
  //   margin: auto
  //   height: 500px
  // &__logos-li
  //   float: left
  //   width: 79px
  //   height: 63px
  //   background-image: url(../img/logos.png)
  //   background-repeat: no-repeat
  //   margin-right: 50px
  //   &--first
  //     background-position-x: 10px
  //   &--second
  //     background-position-x: -25px
  //   &--third
  //     background-position-x: -60px
  //   &--fourth
  //     background-position-x: -100px
  //   &--fifth
  //     background-position-x: -150px
  //   &--sixth
  //     background-position-x: -200px

  &__recent
    // width: 136px
    // height: 22px
    display: block
    margin-bottom: 19px
    text-shadow: 0.5px 0.9px 0 white
    color: rgb(69, 69, 69)
    font-family: $font1
    font-size: 30px
    line-height: 24px
  &__nunc
    float: left
    width: 430px
    height: 41px
    text-shadow: 0.5px 0.9px 0 white
    color: rgb(69, 69, 69)
    font-family: "Open Sans"
    font-size: 16px
    line-height: 24px
    font-weight: 700
    margin: 0px 0px -16px 67px
  &__posted
    float: left
    width: 430px
    height: 41px
    text-shadow: 0.5px 0.9px 0 white
    color: rgb(69, 69, 69)
    font-family: "Open Sans"
    font-size: 16px
    line-height: 24px
    margin: 0px 0px 0px 67px
    font-weight: 300
  &__read-more
    float: right
    width: 105px
    height: 14px
    text-shadow: 0.5px 0.9px 0 white
    color: rgb(69, 69, 69)
    font-family: $font1
    font-size: 18px
    line-height: 24px
    margin-top: 2px
    &__a
      text-decoration: none
      color: rgb(69, 69, 69)
      &:visited
        color: rgb(69, 69, 69)
  &__span-img1
    position: absolute
    top: 43px
    left: 2px
  &__span-img2
    position: absolute
    top: 110px
    left: 2px
  &__span-img3
    position: absolute
    top: 174px
    left: 2px
  &__ul
    clear: both
    list-style: none
    position: absolute
    top: 295px
    left: 192px

  &__li
    float: left
    margin-right: 3px
  // &__circle
  //   position: absolute
  //   top: 10px
  //   left: 20px
