@font-face {
  font-family: "League Gothic";
  src: url(../fonts/LeagueGothic-Regular.otf); }
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.header {
  width: 100%;
  height: 795px;
  background-image: url(../img/bg.jpg);
  background-color: #70528b;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 51px; }

.head {
  width: 975px;
  margin: auto; }

.logo {
  float: left;
  margin-left: 3px; }

.navigation {
  margin-top: 18px;
  margin-right: -37px;
  float: right; }
  .navigation__ul {
    list-style: none; }
  .navigation__li {
    float: left;
    text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
    font-family: "League Gothic";
    font-size: 24px;
    line-height: 34px;
    text-transform: uppercase;
    margin-right: 51.4px; }
    .navigation__li a {
      text-decoration: none;
      color: white; }
      .navigation__li a:hover {
        border-bottom: 2px solid #edbfff; }

.sliders {
  clear: both;
  width: 100%;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: auto;
  margin-top: 227px; }
  .sliders__div {
    width: 960px;
    margin: auto; }
  .sliders__text {
    margin-top: 89px;
    margin-left: -1.5px;
    width: 519px;
    float: left; }
  .sliders__lorem {
    color: #fefefe;
    font-family: "League Gothic";
    font-size: 60px;
    line-height: 36px; }
  .sliders__it-will {
    color: #edbfff;
    font-family: "League Gothic";
    font-size: 32px;
    line-height: 44px; }
  .sliders__semper {
    color: white;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 300;
    line-height: 25px; }
  .sliders__iphone {
    position: relative;
    width: 274px;
    height: 434px;
    background-image: url(../img/iphone.png);
    float: right;
    margin: -17px 72px 0px 0px; }
  .sliders__play {
    position: absolute;
    top: 149px;
    left: 137px; }

.circles {
  width: 960px;
  margin: auto; }
  .circles__ul {
    margin: 93px 0px 0px 709px;
    list-style: none; }
  .circles__li {
    float: left;
    margin-right: 5px; }
  .circles__a:hover {
    background-image: url(../img/circle_hover.png);
    background-position-x: -1.1px;
    background-position-y: -4px; }

.blurbs {
  display: block;
  width: 100%;
  margin: auto;
  height: 344px;
  background-image: url(../img/blurbs.jpg); }
  .blurbs__info {
    width: 970px;
    margin: auto;
    padding-top: 80px; }
  .blurbs__sprite {
    display: block;
    width: 27px;
    height: 194px;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    float: left;
    margin-right: 26px;
    margin-top: 5px; }
    .blurbs__sprite--settings {
      background-position: -62px -2px; }
    .blurbs__sprite--quote {
      background-position: -30px -2px; }
    .blurbs__sprite--music {
      background-position: -2px -2px; }
  .blurbs__left {
    float: left;
    width: 279px;
    height: 113px;
    margin-left: 15px;
    margin-right: 59px; }
  .blurbs__center {
    float: left;
    width: 280px;
    height: 113px;
    margin-right: 57px; }
  .blurbs__right {
    float: left;
    width: 279px;
    height: 113px; }
  .blurbs__about {
    display: block;
    width: 232px;
    height: 26px;
    text-shadow: 0.5px 0.9px 0 #0f1518;
    color: white;
    font-family: "League Gothic";
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 9px; }
  .blurbs__description {
    clear: both;
    width: 294px;
    height: 113px;
    text-shadow: 0.5px 0.9px 0 #0f1518;
    color: white;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px; }
  .blurbs__read {
    float: right;
    width: 58px;
    height: 14px;
    text-shadow: 0.5px 0.9px 0 #0f1518;
    font-family: "League Gothic";
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 20px;
    margin-right: 9px; }
  .blurbs__a {
    color: white;
    text-decoration: none; }
    .blurbs__a:hover {
      color: white;
      text-shadow: 0 0 8px rgba(255, 255, 255, 0.8); }

.news {
  width: 100%;
  margin: auto;
  padding-top: 98px;
  background-color: #f9f9f9; }
  .news__foto {
    position: absolute;
    top: 18px;
    left: -2px; }
  .news__body {
    position: relative;
    width: 960px;
    margin: auto; }
  .news__pingbuller {
    background-image: url(../img/quote.png);
    background-repeat: no-repeat;
    float: left;
    width: 40%;
    height: 292px;
    padding: 32px 0 0 40px;
    margin-left: 21px; }
    .news__pingbuller__text {
      height: 22px;
      text-shadow: 0.5px 0.9px 0 white;
      font-family: "League Gothic";
      font-size: 30px;
      line-height: 24px; }
      .news__pingbuller__text--black {
        color: #454545; }
      .news__pingbuller__text--purple {
        color: #edbfff; }
      .news__pingbuller__text--simple {
        float: left;
        width: 359px;
        height: 161px;
        text-shadow: 0.5px 0.9px 0 white;
        color: #454545;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        margin-top: 10px; }
  .news__updates {
    position: relative;
    float: right;
    width: 47.1%;
    margin-top: 32px; }
  .news__logos {
    clear: both;
    width: 960px;
    margin: auto;
    height: 1000px;
    border-top: 1px solid black;
    border-bottom: 1px solid black; }
  .news__logo1 {
    margin-right: 50px;
    float: left; }
  .news__logo2 {
    margin-right: 50px;
    float: left; }
  .news__logo3 {
    margin-right: 50px;
    float: left; }
  .news__logo4 {
    margin-right: 50px;
    float: left; }
  .news__logo5 {
    margin-right: 50px;
    float: left; }
  .news__logo6 {
    float: left; }
  .news__recent {
    display: block;
    margin-bottom: 19px;
    text-shadow: 0.5px 0.9px 0 white;
    color: #454545;
    font-family: "League Gothic";
    font-size: 30px;
    line-height: 24px; }
  .news__nunc {
    float: left;
    width: 430px;
    height: 41px;
    text-shadow: 0.5px 0.9px 0 white;
    color: #454545;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin: 0px 0px -16px 67px; }
  .news__posted {
    float: left;
    width: 430px;
    height: 41px;
    text-shadow: 0.5px 0.9px 0 white;
    color: #454545;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 24px;
    margin: 0px 0px 0px 67px;
    font-weight: 300; }
  .news__read-more {
    float: right;
    width: 105px;
    height: 14px;
    text-shadow: 0.5px 0.9px 0 white;
    color: #454545;
    font-family: "League Gothic";
    font-size: 18px;
    line-height: 24px;
    margin-top: 2px; }
    .news__read-more__a {
      text-decoration: none;
      color: #454545; }
      .news__read-more__a:visited {
        color: #454545; }
  .news__span-img1 {
    position: absolute;
    top: 43px;
    left: 2px; }
  .news__span-img2 {
    position: absolute;
    top: 110px;
    left: 2px; }
  .news__span-img3 {
    position: absolute;
    top: 174px;
    left: 2px; }
  .news__ul {
    clear: both;
    list-style: none;
    position: absolute;
    top: 295px;
    left: 192px; }
  .news__li {
    float: left;
    margin-right: 3px; }

/*# sourceMappingURL=style.css.map */
